<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<p-toast></p-toast>
<div class="mb-0" style="background-color: #eaeaea" *ngIf="state$ | async">
    <!--begin::Wrapper-->
    <div class="pt-0">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Row-->
            <div class="row">
                <!--begin::Col-->
                <div class="col-lg-3">
                    <div
                        style="
                            background-color: white;
                            margin-top: 10px;
                            border-radius: 5px;
                            padding: 5px;
                            height: 100%;
                        ">
                        <div style="margin: 15px">&nbsp;</div>
                    </div>
                    <!--end::Block-->
                </div>
                <!--end::Col-->
                <div class="col-lg-9">
                    <div style="margin-top: 10px; border-radius: 5px">
                        <div class="card mb-5 mb-xl-10">
                            <div class="card-body border-top p-9">

                                <h1>About</h1>
                                <h4>Portal Nimos adalah portal untuk mengumpulkan seluruh metadata yang ada pada UPT dan Pusat salam satu Portal terpusat</h4>

                                <h2>
                                    Pusat Database BMKG<br />
                                    Jl. Angkasa I No.2 Kemayoran<br />
                                    Jakarta Pusat, DKI Jakarta 10720<br />
                                    P.O. Box 3540 Jkt. P: (021) 4246321 ext. 1603/04<br />
                                    Email: info@bmkg.go.id
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
               
                <!--end::Row-->
            </div>
            <!--end::Container-->
        </div>
    </div>
</div>
