<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<p-toast></p-toast>

<div id="kt_app_content" class="app-content flex-column-fluid" *ngIf="state$ | async">
    <!-- div class="card card-flush" *ngIf="station && station.name"-->
    <div class="card card-flush">
        <div class="col-xl-12">
            <div class="card-body pt-6">
                <div class="tab-content" *ngIf="!station_id">
                    Please select station first in Station Management Menu. <br />
                    You will be redirect to Station Management Menu in 3 second.
                </div>
                <div class="tab-content" *ngIf="station_id">
                    <h3>.:: {{ station_name }} [{{ station_identifier }}]</h3>
                    <p-table
                        #dt
                        [columns]="cols"
                        [value]="datas"
                        dataKey="id"
                        responsiveLayout="scroll"
                        styleClass="card-body pt-0"
                        tableStyleClass="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                        <ng-template pTemplate="body" let-data let-expanded="expanded">
                            <tr>
                                <td style="width: 50px">
                                    <button
                                        type="button"
                                        pButton
                                        pRipple
                                        [pRowToggler]="data"
                                        class="p-button-text p-button-rounded p-button-plain"
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                </td>
                                <td>
                                    {{ data.name }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-data>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <div class="card-body">
                                        <div class="row">
                                            <label class="col-lg-4 col-form-label fw-bold fs-6">{{
                                                label?.contact?.NAME || 'Name'
                                            }}</label>
                                            <div class="col-lg-8 fv-row">{{ data.name }}</div>
                                        </div>
                                        <div class="row">
                                            <label class="col-lg-4 col-form-label fw-bold fs-6">No HP</label>
                                            <div class="col-lg-8 fv-row">{{ data.phone }}</div>
                                        </div>
                                        <div class="row">
                                            <label class="col-lg-4 col-form-label fw-bold fs-6">Email</label>
                                            <div class="col-lg-8 fv-row">{{ data.email }}</div>
                                        </div>
                                        <div class="row">
                                            <label class="col-lg-4 col-form-label fw-bold fs-6">Email Institusi</label>
                                            <div class="col-lg-8 fv-row">{{ data.email_organization }}</div>
                                        </div>
                                        <div class="row">
                                            <label class="col-lg-4 col-form-label fw-bold fs-6">Institution</label>
                                            <div class="col-lg-8 fv-row">{{ data.organization.long_name }}</div>
                                        </div>
                                        <div class="row">
                                            <label class="col-lg-4 col-form-label fw-bold fs-6">Category</label>
                                            <div class="col-lg-8 fv-row">{{ data.organization.category }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div *ngIf="!(datas && datas.length > 0)" style="text-align: center">
                        There are no contact found
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
