<p-toast></p-toast>

<div class="mb-0" style="background-color: #eaeaea">
  <!--begin::Wrapper-->
  <div class="pt-0">
      <!--begin::Container-->
      <div class="container">
          <!--begin::Row-->
          <div class="row">
            <div class="col-lg-3">
              <div style=" background-color: white;
                            margin-top: 10px;
                            border-radius: 5px;
                            padding: 5px;
                            height: 100%;
                        ">
              </div>
            </div>
            <div class="col-lg-9">
              <div style=" background-color: white;
                            margin-top: 10px;
                            border-radius: 5px;
                            padding: 5px;
                            height: 100%;
                        ">
                <div class="container">
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>AGAGE</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                          Advanced Global Atmospheric Gases Experiment http://agage.eas.gatech.edu/
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>BSRN</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Baseline Surface Radiation Network http://www.bsrn.awi.de/
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>CAPMoN</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Canadian Air and Precipitation Monitoring Network https://data.ec.gc.ca/data/air/monitor/networks-and-studies/canadian-air-and-precipitation-monitoring-network-capmon/
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>Climate Zone</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        The Köppen climate classification describes climate conditions of regions on the Earth surface depending on precipitation and temperature in different seasons. Main climate zones are described by the first letter, namely A equatorial, B arid, C warm temperate, D snow, and E polar vegetation zones. These are further detailed by a second letter considering precipitation (W desert, S steppe, f: fully humid, s summer dry, w winter dry, m monsoonal) and a third letter for the air temperature (h hot arid, k cold arid, a hot summer, b warm summer, c cool summer, F polar frost, T polar tundra).
              Our assignment for each of the stations registered in GAWSIS is based on the Köppen-Geiger world map of climate classification (resolution 0.5°x0.5°) for the second half of the 20th century described in Kottek et. al. 2006 (DOI: 10.1127/0941-2948/2006/0130).
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>EANET</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Acid Deposition Monitoring Network in East Asia http://www.eanet.asia
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>EMEP</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        European Monitoring and Evaluation Programme http://www.emep.int/
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>Fixed Station</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Fixed stations encompass all monitoring sites that don't move around. This include anything from a large observatory to a permanent container station, and even a flask sampling case always used at the same place. The counterpart are mobile stations.
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>GAW</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Global Atmosphere Watch, the atmospheric chemistry programme of WMO was established in 1992, consolidating existing programmes such as GO3OS and BAPMoN. It gathered WMO members, collaborating organizations and contributing network in order to provide reliable scientific data and information on the chemical composition of the atmosphere to better understand its natural and anthropogenic evolution as well as its interaction with the ocean and the biosphere. The GAW programme operates according to the GAW Implementation Plan.
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>GAW Contributing Station</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        GAW Contributing stations belong to other organizations or international programmes such as the NDACC (formerly NDSC), the EMEP, the BSRN or the SHADOZ networks. Through mutual agreements, these contributing organizations are under the GAW umbrella of stations. Some of these stations have dual affiliations within GAW, having also the status of Global or Regional GAW station. In that case, they will be listed as such. More information can be found in the GAW Implementation Plan [ANNEX B].
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>GAW Global Station</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        GAW Global stations shall be designed for stations primarily observing GAW variables under background conditions, i.e. without permanent significant influence from local pollution sources. More information can be found in the GAW Implementation Plan [ANNEX B].
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>GAW Regional Station</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        GAW Regional stations shall be designed for stations primarily observing variables measured such that it is regionally representative and is normally free of the influence of significant local pollution sources or at least frequently experiences advection of pollution-free air from specific wind directions. More information can be found in the GAW Implementation Plan [ANNEX B].
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>Greenwich Mean Time (GMT)</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Greenwich, England has been the home of Greenwich Mean Time (GMT) since 1884. GMT is sometimes called Greenwich Meridian Time because it is measured from the Greenwich Meridian Line at the Royal Observatory in Greenwich. GMT is in the same time zone as Coordinated Universal Time (UTC). All other time zones are expressed as an offset in hours to GMT/UTC.
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>Mobile Station</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Mobile stations encompass all monitoring sites that change their location during sampling. This includes primarily ships and aircraft. The counterpart are fixed stations.
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>NADP</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                          National Atmospheric Deposition Program, a U.S. program.http://nadp.slh.wisc.edu/
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>NDACC</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Network for the Detection Atmospheric Composition Change (formerly 'NDSC') http://www.ndacc.org
                      </label>
                    </div>
                  </div>
                
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>NIES</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Japanese National Institute for Environmental Studies http://www.nies.go.jp/, also contributes to AGAGE.
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>SHADOZ</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                          Southern Hemisphere ADditional Ozone Sondes http://croc.gsfc.nasa.gov/shadoz/
                      </label>
                    </div>
                  </div>
                    
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>SOGE</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        System for Observation of Halogenated Greenhouse Gases in Europe http://tarantula.nilu.no/soge/, a programme associated with AGAGE
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>Topography / Bathymetry</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Local topography (as part of 'environment' metadata element in WMO metadata for station-based observations) is described by the scheme proposed in the WIGOS Metadata Standard Element 4-03: Topographic Classification.
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>UTC</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Universal Time Coordinated (UTC) is the same time zone as Greenwich Mean Time (GMT).
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>Uncertainty</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        Non-negative parameter characterising the dispersion of the quantity values being attributed to a measurand, based on the information used (Source: International Vocabulary of Metrology).
              
              Please see QA/QC-related terminology recommended by WMO to characterize measurement uncertainty for a comprehensive and navigable glossary.
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>WIGOS ID</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        WIGOS Station Identifier. Each observing facility (station, platform) must have at least one WIGOS station identifier associated with it. The station identifier(s) associate the station with its WIGOS metadata. Guidance material on how to assign WIGOS Identifiers:
              
              Manual on WIGOS
              Guide to WIGOS
              Manual on Codes
                      </label>
                    </div>
                  </div>
              
                  <div class="row mb-3 fs-7">
                    <label class="col-lg col-form-label fs-6">
                    <b>WMDS</b>
                    </label>
                    <div class="col-lg-8 fv-row">
                      <label class="col-lg col-form-label fs-6">
                        The WMO Integrated Global Observing System (WIGOS) Metadata Standard (WMDS) is a semantic standard that specifies the metadata elements for observations, that exist and that can be recorded and exchanged. The WMDS is intended to describe the observations in order to ensure maximum usefulness of them, supporting the adequate interpretation by users. It applies to all WIGOS component observing systems: the Global Observing System (GOS) of the World Weather Watch (WWW) Programme, the observing component of the Global Atmosphere Watch (GAW) Programme, the WMO Hydrological Observing System (WHOS) of the Hydrology and Water Resources Programme (HWRP) and the observing component of the Global Cryosphere Watch (GCW).
                      </label>
                    </div>
                  </div>
              
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>