<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<p-toast></p-toast>

<div id="kt_app_content" class="app-content flex-column-fluid" *ngIf="state$ | async">
    <div id="kt_app_content_container" class="app-container container-fluid">
        <div class="card card-flush">
            <p-toolbar>
                <ng-template pTemplate="left" class="card-title"><h2>Assign Station</h2></ng-template>
            </p-toolbar>
            <div class="row m-6">
                <label class="col-lg-4 col-form-label fw-bold fs-6">Users</label>
                <p-table
                    #dt
                    [columns]="cols"
                    [value]="datas"
                    [lazy]="true"
                    (onLazyLoad)="loadDatas($event)"
                    [paginator]="true"
                    [totalRecords]="totalRecords"
                    [showCurrentPageReport]="true"
                    [rows]="10"
                    sortField="name"
                    dataKey="id"
                    [filterDelay]="1000"
                    responsiveLayout="scroll"
                    [(selection)]="selectedUser"
                    [selectionPageOnly]="true"
                    csvSeparator=","
                    exportFilename="users_export"
                    [rowHover]="true"
                    styleClass="card-body pt-0"
                    tableStyleClass="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                    <ng-template pTemplate="header" let-columns>
                        <tr class="text-start text-gray-400 fw-bold text-uppercase fs-7 gs-0">
                            <th style="width: 3rem"></th>
                            <th class="min-w-125px">
                                Email
                                <p-columnFilter
                                    type="text"
                                    field="email"
                                    display="menu"
                                    matchMode="contains"
                                    [showMatchModes]="true"
                                    [matchModeOptions]="matchModeOptions"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    class="p-ml-auto"></p-columnFilter>
                            </th>
                            <th class="min-w-125px">
                                Name
                                <p-columnFilter
                                    type="text"
                                    field="name"
                                    display="menu"
                                    matchMode="contains"
                                    [showMatchModes]="true"
                                    [matchModeOptions]="matchModeOptions"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    class="p-ml-auto"></p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>
                                <p-tableRadioButton [value]="data"></p-tableRadioButton>
                            </td>
                            <td>
                                {{ data.email }}
                            </td>
                            <td>
                                {{ data.name }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="card-body p-3">
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Usage</label>
                    <div class="col-lg-8 fv-row">
                        <p-multiSelect
                            [options]="usages"
                            [(ngModel)]="selectedUsages"
                            optionLabel="name"
                            [style]="{ width: '100%' }"
                            class="p-fluid"></p-multiSelect>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Provinsi</label>
                    <div class="col-lg-8 fv-row">
                        <p-autoComplete
                            [(ngModel)]="provinces"
                            [suggestions]="filteredProvinces"
                            (completeMethod)="searchProvince($event)"
                            [multiple]="true"
                            field="name"
                            [style]="{ width: '100%' }"
                            class="p-fluid"></p-autoComplete>
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label fw-bold fs-6">Station Name</label>
                    <div class="col-lg-8 fv-row">
                        <input pInputText type="text" class="form-control form-control-lg" [(ngModel)]="station_name" />
                    </div>
                </div>
                <div class="text-end">
                    <button pButton class="btn btn-primary" (click)="searchStation(null)">Search Station</button>
                </div>
            </div>
            <div class="card-body p-3" *ngIf="stations && stations.length > 0">
                <p-table
                    #dt2
                    [columns]="cols"
                    [value]="stations"
                    sortField="-id"
                    dataKey="id"
                    responsiveLayout="scroll"
                    [(selection)]="selectedStations"
                    [rowHover]="true"
                    styleClass="card-body pt-0"
                    tableStyleClass="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                    <ng-template pTemplate="header" let-columns>
                        <tr class="text-start text-gray-400 fw-bold text-uppercase fs-7 gs-0">
                            <th style="width: 3rem">
                                <!--p-tableHeaderCheckbox></!--p-tableHeaderCheckbox-->
                            </th>
                            <th class="min-w-125px">Station ID</th>
                            <th class="min-w-125px">Name</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-station>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="station" (click)="selectRow(station)"></p-tableCheckbox>
                            </td>
                            <td>
                                {{ station.identifier }}
                            </td>
                            <td>
                                {{ station.name }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-paginator
                    [rows]="15"
                    [totalRecords]="totalRecords1"
                    [showCurrentPageReport]="true"
                    (onPageChange)="paginate($event)"></p-paginator>
                <!-- div class="text-end">
                    <button pButton type="button" class="btn btn-primary" (click)="assignUser()">Assign</button>
                </!-->
            </div>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
