<div class="p-col-12">
    <p-toast></p-toast>
    <div class="card">
        <form
            class="form w-100"
            novalidate="novalidate"
            [formGroup]="dataForm"
            id="kt_login_signin_form"
            (ngSubmit)="save()">
            <div class="card-body border-top p-9">
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Previous Password</label>
                    <div class="col-lg-8 fv-row">
                        <input
                            pInputText
                            type="password"
                            class="form-control form-control-lg"
                            placeholder="Privious Password"
                            name="previousPassword"
                            formControlName="previousPassword" />
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">New Password</label>
                    <div class="col-lg-8 fv-row">
                        <input
                            pInputText
                            class="form-control form-control-lg"
                            type="password"
                            placeholder="New Password"
                            name="newPassword"
                            formControlName="newPassword" />
                    </div>
                </div>
                <div class="row mb-6">
                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Repeat Password</label>
                    <div class="col-lg-8 fv-row">
                        <input
                            pInputText
                            type="password"
                            class="form-control form-control-lg"
                            placeholder="Repeat Password"
                            name="repeatPassword"
                            formControlName="repeatPassword" />
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
        <!-- end::Form -->
    </div>
</div>
