<!--begin::Form-->
<form
    class="form w-100"
    [formGroup]="loginForm"
    novalidate="novalidate"
    id="kt_login_signin_form"
    (ngSubmit)="submit()">
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <h1 class="text-dark mb-3">Reset Password</h1>
    </div>
    <!--end::Heading-->

    <!-- begin::Alert info-->
    <ng-container *ngIf="!hasError">
        <div class="mb-10 bg-light-info p-8 rounded">
            <div class="text-info">Password is successfully reset</div>
        </div>
    </ng-container>
    <!-- end::Alert info-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
            <div class="alert-text font-weight-bold">{{ message }}</div>
        </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="fv-row mb-10">
        <label class="form-label fs-6 fw-bolder text-dark">Password</label>
        <input pInputText formControlName="token" hidden />
        <input pInputText formControlName="email" hidden />
        <input
            class="form-control form-control-lg form-control-solid"
            type="password"
            name="password"
            formControlName="password"
            autocomplete="off"
            [ngClass]="{
                'is-invalid': loginForm.controls['password'].invalid,
                'is-valid': loginForm.controls['password'].valid
            }" />
        <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Password is required',
                control: loginForm.controls['password']
            }"></ng-container>
        <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
                validation: 'minLength',
                message: 'Password should have at least 8 symbols',
                control: loginForm.controls['password']
            }"></ng-container>
        <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
                validation: 'maxLength',
                message: 'Password should have maximum 100 symbols',
                control: loginForm.controls['password']
            }"></ng-container>
    </div>
    <div class="fv-row mb-10">
        <label class="form-label fs-6 fw-bolder text-dark">Password Confirmation</label>
        <input
            class="form-control form-control-lg form-control-solid"
            type="password"
            name="password_confirmation"
            formControlName="password_confirmation"
            autocomplete="off"
            [ngClass]="{
                'is-invalid': loginForm.controls['password_confirmation'].invalid,
                'is-valid': loginForm.controls['password_confirmation'].valid
            }" />
        <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Password Confirmation is required',
                control: loginForm.controls['password_confirmation']
            }"></ng-container>
        <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
                validation: 'minLength',
                message: 'Password Confirmation should have at least 8 symbols',
                control: loginForm.controls['password_confirmation']
            }"></ng-container>
        <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
                validation: 'maxLength',
                message: 'Password Confirmation should have maximum 100 symbols',
                control: loginForm.controls['password_confirmation']
            }"></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Action-->
    <div class="text-center">
        <button
            type="submit"
            id="kt_sign_in_submit"
            class="btn btn-lg btn-primary w-100 mb-5"
            [disabled]="loginForm.invalid">
            <ng-container *ngIf="isLoading$ | async">
                <span class="indicator-progress" [style.display]="'block'">
                    Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </ng-container>
            <ng-container *ngIf="(isLoading$ | async) === false">
                <span class="indicator-label">Continue</span>
            </ng-container>
        </button>
    </div>
    <!--end::Action-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <span role="alert">
                {{ message }}
            </span>
        </div>
    </ng-container>
</ng-template>
