table {
  width: 100%;
}
.mat-form-field {
  margin-right: 4px;
}
.example-viewport {
  height: 200px;
  width: 100%;
}

.example-item {
  height: 50px;
}
.div-right{
  background:none;
  border:none;
  float:right;
  padding-right:10px;
}
.footer-container{
  background:none;
  border:none;
  height:40px;
  max-width:100%;
  padding-top:5px;
}

.full-height{
  width: 100%;
  height: 100%;
}
