<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Header Section-->
    <div class="mb-0" id="home">
        <!--begin::Wrapper-->
        <div class="bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom">
            <!--begin::Header-->
            <div
                class="landing-header"
                data-kt-sticky="true"
                data-kt-sticky-name="landing-header"
                data-kt-sticky-offset="{default: '200px', lg: '300px'}">
                <!--begin::Container-->
                <div class="container">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center justify-content-between">
                        <!--begin::Logo-->
                        <div class="d-flex align-items-center flex-equal">
                            <!--begin::Mobile menu toggle-->
                            <button
                                class="btn btn-icon btn-active-color-primary me-3 d-flex d-lg-none"
                                id="kt_landing_menu_toggle">
                                <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                                <span class="svg-icon svg-icon-2hx">
                                    <svg
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z"
                                            fill="currentColor" />
                                        <path
                                            opacity="0.3"
                                            d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z"
                                            fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </button>
                            <!--end::Mobile menu toggle-->
                            <!--begin::Logo image-->
                            <a href="/">
                                <img
                                    alt="Logo"
                                    src="assets/media/logos/nimos.png"
                                    class="logo-default h-50px h-lg-70px" />
                                <img
                                    alt="Logo"
                                    src="assets/media/logos/nimos.png"
                                    class="logo-sticky h-50px h-lg-70px" />
                            </a>
                            <!--end::Logo image-->
                        </div>
                        <!--end::Logo-->
                        <!--begin::Menu wrapper-->
                        <div class="d-lg-block" id="kt_header_nav_wrapper">
                            <div
                                class="d-lg-block p-5 p-lg-0"
                                data-kt-drawer="true"
                                data-kt-drawer-name="landing-menu"
                                data-kt-drawer-activate="{default: true, lg: false}"
                                data-kt-drawer-overlay="true"
                                data-kt-drawer-width="200px"
                                data-kt-drawer-direction="start"
                                data-kt-drawer-toggle="#kt_landing_menu_toggle"
                                data-kt-swapper="true"
                                data-kt-swapper-mode="prepend"
                                data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav_wrapper'}">
                                <!--begin::Menu-->
                                <div
                                    class="menu menu-column flex-nowrap menu-rounded menu-lg-row menu-title-gray-500 menu-state-title-primary nav nav-flush fs-5 fw-semibold"
                                    id="kt_landing_menu">
                                    <!--begin::Menu item-->
                                    <div class="menu-item">
                                        <!--begin::Menu link-->
                                        <a
                                            class="menu-link nav-link py-3 px-4 px-xxl-6"
                                            href="index#kt_body"
                                            data-kt-scroll-toggle="true"
                                            data-kt-drawer-dismiss="true"
                                            >Home</a
                                        >
                                        <!--end::Menu link-->
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item">
                                        <!--begin::Menu link-->
                                        <a
                                            class="menu-link nav-link py-3 px-4 px-xxl-6"
                                            href="index#about"
                                            data-kt-scroll-toggle="true"
                                            data-kt-drawer-dismiss="true"
                                            >About</a
                                        >
                                        <!--end::Menu link-->
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item">
                                        <!--begin::Menu link-->
                                        <a
                                            class="menu-link nav-link py-3 px-4 px-xxl-6"
                                            href="index#achievements"
                                            data-kt-scroll-toggle="true"
                                            data-kt-drawer-dismiss="true"
                                            >Faq</a
                                        >
                                        <!--end::Menu link-->
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item">
                                        <!--begin::Menu link-->
                                        <a
                                            class="menu-link nav-link py-3 px-4 px-xxl-6"
                                            href="index#contact"
                                            data-kt-scroll-toggle="true"
                                            data-kt-drawer-dismiss="true"
                                            >Contact</a
                                        >
                                        <!--end::Menu link-->
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item">
                                        <!--begin::Menu link-->
                                        <a
                                            class="menu-link nav-link py-3 px-4 px-xxl-6"
                                            href="/metadata"
                                            data-kt-scroll-toggle="true"
                                            data-kt-drawer-dismiss="true"
                                            >Metadata</a
                                        >
                                        <!--end::Menu link-->
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item">
                                        <!--begin::Menu link-->
                                        <a
                                            class="menu-link nav-link py-3 px-4 px-xxl-6"
                                            href="/registration2"
                                            data-kt-scroll-toggle="true"
                                            data-kt-drawer-dismiss="true"
                                            >Register</a
                                        >
                                        <!--end::Menu link-->
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu-->
                            </div>
                        </div>
                        <!--end::Menu wrapper-->
                        <!--begin::Toolbar-->
                        <div class="flex-equal text-end ms-1">
                            <a href="/auth/login" class="btn btn-success">Sign In</a>
                        </div>
                        <!--end::Toolbar-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Header-->
            <!-- <div>
                <hr style="color: blue" />
            </div> -->
            <!--begin::Landing hero-->
            <div class="d-flex flex-column flex-center w-100 min-h-350px min-h-lg-500px px-9">
                <!--begin::Heading-->
                <div class="text-center mb-5 mb-lg-10 py-10 py-lg-20">
                    <!--begin::Title-->
                    <div class="row">
                        <div class="col-xl-4">
                            <h1>Pusat Informasi Metadata <br /></h1>
                            <h1>Nasional pada BMKG <br /></h1>
                            <!--end::Title-->
                        </div>
                        <div class="col-xl-4">
                            <img
                                alt="logo"
                                src="assets/media/logos/image_2.png"
                                class="mb-9 logo-default h-150px h-lg-400px" />
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-center flex-wrap position-relative px-5">
                    <!--begin::Client-->
                    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="BMKG">
                        <img src="assets/media/logos/weather.png" class="mh-80px mh-lg-90px" alt="" />
                    </div>
                    <!--end::Client-->
                    <!--begin::Client-->
                    <div
                        class="d-flex flex-center m-3 m-md-6"
                        data-bs-toggle="tooltip"
                        title="World Meteorologi Organization">
                        <img src="assets/media/logos/climate.png" class="mh-80px mh-lg-90px" alt="" />
                    </div>
                    <!--end::Client-->
                    <!--begin::Client-->
                    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="USGS">
                        <img
                            src="assets/media/logos/water.png"
                            class="mh-80px mh-lg-90px"
                            alt=""
                            style="background-color: #122b6b" />
                    </div>
                    <!--end::Client-->
                    <!--begin::Client-->
                    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="GFZ">
                        <img src="assets/media/logos/env.png" class="mh-80px mh-lg-90px" alt="" />
                    </div>
                    <!--end::Client-->
                </div>
                <!--end::Heading-->
                <div class="fs-5 fs-lg-3 fw-bold text-dark">Supported By</div>
                <!--begin::Clients-->
                <div class="d-flex flex-center flex-wrap position-relative px-5">
                    <!--begin::Client-->
                    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="BMKG">
                        <img src="assets/media/logos/image_6.png" class="mh-80px mh-lg-90px" alt="" />
                    </div>
                    <!--end::Client-->
                    <!--begin::Client-->
                    <div
                        class="d-flex flex-center m-3 m-md-6"
                        data-bs-toggle="tooltip"
                        title="World Meteorologi Organization">
                        <img src="assets/media/logos/image_4.png" class="mh-80px mh-lg-90px" alt="" />
                    </div>
                    <!--end::Client-->
                    <!--begin::Client-->
                    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="USGS">
                        <img
                            src="assets/media/logos/image_5.png"
                            class="mh-80px mh-lg-90px"
                            alt=""
                            style="background-color: #122b6b" />
                    </div>
                    <!--end::Client-->
                    <!--begin::Client-->
                    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="GFZ">
                        <img src="assets/media/logos/image_7.png" class="mh-80px mh-lg-90px" alt="" />
                    </div>
                    <!--end::Client-->
                    <!--begin::Client-->
                    <div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="CIAGA">
                        <img src="assets/media/logos/image_8.png" class="mh-80px mh-lg-90px" alt="" />
                    </div>
                    <!--end::Client-->
                </div>
                <!--end::Clients-->
            </div>
            <!--end::Landing hero-->
        </div>
        <!--end::Wrapper-->
        <!--begin::Curve bottom-->
        <!-- <div class="landing-curve landing-dark-color mb-10 mb-lg-20">
            <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z"
                    fill="currentColor"></path>
            </svg>
        </div> -->
        <!--end::Curve bottom-->
    </div>
    <!--end::Header Section-->

    <!--begin::Statistics Section-->
    <div class="mt-sm-n10">
        <!--begin::Curve top-->
        <div class="landing-curve landing-dark-color">
            <svg viewBox="15 -1 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1 48C4.93573 47.6644 8.85984 47.3311 12.7725 47H1489.16C1493.1 47.3311 1497.04 47.6644 1501 48V47H1489.16C914.668 -1.34764 587.282 -1.61174 12.7725 47H1V48Z"
                    fill="currentColor"></path>
            </svg>
        </div>
        <!--end::Curve top-->
        <!--begin::Wrapper-->
        <div class="pb-15 pt-18 landing-dark-bg">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Heading-->
                <div class="text-center mt-15 mb-18" id="about" data-kt-scroll-offset="{default: 100, lg: 150}">
                    <!--begin::Title-->
                    <h3 class="fs-2hx text-white fw-bold mb-5">
                        Badan Meteorologi, Klimatologi, dan Geofisika ( BMKG )
                    </h3>
                    <!--end::Title-->
                    <!--begin::Description-->
                    <div class="fs-5 text-gray-700 fw-bold">Cepat, Tepat, Akurat, Luas, dan Mudah Dipahami</div>
                    <!--end::Description-->
                </div>
                <!--end::Heading-->
                <!--begin::Statistics-->
                <div class="d-flex flex-center">
                    <!--begin::Items-->
                    <div class="d-flex flex-wrap flex-center justify-content-lg-between mb-15 mx-auto w-xl-900px">
                        <!--begin::Item-->
                        <div
                            class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain"
                            style="background-image: url('assets/media/svg/misc/octagon.svg')">
                            <!--begin::Symbol-->
                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                            <span class="svg-icon svg-icon-2tx svg-icon-white mb-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor" />
                                    <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor" />
                                    <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor" />
                                    <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <!--end::Symbol-->
                            <!--begin::Info-->
                            <div class="mb-0">
                                <!--begin::Value-->
                                <div class="fs-lg-2hx fs-2x fw-bold text-white d-flex flex-center">
                                    <div
                                        class="min-w-70px"
                                        data-kt-countup="true"
                                        data-kt-countup-value="700"
                                        data-kt-countup-suffix="+">
                                        0
                                    </div>
                                </div>
                                <!--end::Value-->
                                <!--begin::Label-->
                                <span class="text-gray-600 fw-semibold fs-5 lh-0">Known Companies</span>
                                <!--end::Label-->
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div
                            class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain"
                            style="background-image: url('assets/media/svg/misc/octagon.svg')">
                            <!--begin::Symbol-->
                            <!--begin::Svg Icon | path: icons/duotune/graphs/gra008.svg-->
                            <span class="svg-icon svg-icon-2tx svg-icon-white mb-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13 10.9128V3.01281C13 2.41281 13.5 1.91281 14.1 2.01281C16.1 2.21281 17.9 3.11284 19.3 4.61284C20.7 6.01284 21.6 7.91285 21.9 9.81285C22 10.4129 21.5 10.9128 20.9 10.9128H13Z"
                                        fill="currentColor" />
                                    <path
                                        opacity="0.3"
                                        d="M13 12.9128V20.8129C13 21.4129 13.5 21.9129 14.1 21.8129C16.1 21.6129 17.9 20.7128 19.3 19.2128C20.7 17.8128 21.6 15.9128 21.9 14.0128C22 13.4128 21.5 12.9128 20.9 12.9128H13Z"
                                        fill="currentColor" />
                                    <path
                                        opacity="0.3"
                                        d="M11 19.8129C11 20.4129 10.5 20.9129 9.89999 20.8129C5.49999 20.2129 2 16.5128 2 11.9128C2 7.31283 5.39999 3.51281 9.89999 3.01281C10.5 2.91281 11 3.41281 11 4.01281V19.8129Z"
                                        fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <!--end::Symbol-->
                            <!--begin::Info-->
                            <div class="mb-0">
                                <!--begin::Value-->
                                <div class="fs-lg-2hx fs-2x fw-bold text-white d-flex flex-center">
                                    <div
                                        class="min-w-70px"
                                        data-kt-countup="true"
                                        data-kt-countup-value="80"
                                        data-kt-countup-suffix="K+">
                                        0
                                    </div>
                                </div>
                                <!--end::Value-->
                                <!--begin::Label-->
                                <span class="text-gray-600 fw-semibold fs-5 lh-0">Statistic Reports</span>
                                <!--end::Label-->
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div
                            class="d-flex flex-column flex-center h-200px w-200px h-lg-250px w-lg-250px m-3 bgi-no-repeat bgi-position-center bgi-size-contain"
                            style="background-image: url('assets/media/svg/misc/octagon.svg')">
                            <!--begin::Symbol-->
                            <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
                            <span class="svg-icon svg-icon-2tx svg-icon-white mb-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M21 10H13V11C13 11.6 12.6 12 12 12C11.4 12 11 11.6 11 11V10H3C2.4 10 2 10.4 2 11V13H22V11C22 10.4 21.6 10 21 10Z"
                                        fill="currentColor" />
                                    <path
                                        opacity="0.3"
                                        d="M12 12C11.4 12 11 11.6 11 11V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V11C13 11.6 12.6 12 12 12Z"
                                        fill="currentColor" />
                                    <path
                                        opacity="0.3"
                                        d="M18.1 21H5.9C5.4 21 4.9 20.6 4.8 20.1L3 13H21L19.2 20.1C19.1 20.6 18.6 21 18.1 21ZM13 18V15C13 14.4 12.6 14 12 14C11.4 14 11 14.4 11 15V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18ZM17 18V15C17 14.4 16.6 14 16 14C15.4 14 15 14.4 15 15V18C15 18.6 15.4 19 16 19C16.6 19 17 18.6 17 18ZM9 18V15C9 14.4 8.6 14 8 14C7.4 14 7 14.4 7 15V18C7 18.6 7.4 19 8 19C8.6 19 9 18.6 9 18Z"
                                        fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <!--end::Symbol-->
                            <!--begin::Info-->
                            <div class="mb-0">
                                <!--begin::Value-->
                                <div class="fs-lg-2hx fs-2x fw-bold text-white d-flex flex-center">
                                    <div
                                        class="min-w-70px"
                                        data-kt-countup="true"
                                        data-kt-countup-value="35"
                                        data-kt-countup-suffix="M+">
                                        0
                                    </div>
                                </div>
                                <!--end::Value-->
                                <!--begin::Label-->
                                <span class="text-gray-600 fw-semibold fs-5 lh-0">Secure Payments</span>
                                <!--end::Label-->
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Items-->
                </div>
                <!--end::Statistics-->
                <!--begin::Testimonial-->
                <div class="fs-2 fw-semibold text-muted text-center mb-3">
                    <span class="fs-1 lh-1 text-gray-700">“</span>When you care about your topic, you’ll write about it
                    in a
                    <br />
                    <span class="text-gray-700 me-1">more powerful</span>, emotionally expressive way
                    <span class="fs-1 lh-1 text-gray-700">“</span>
                </div>
                <!--end::Testimonial-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Wrapper-->
        <!--begin::Curve bottom-->
        <div class="landing-curve landing-dark-color">
            <svg viewBox="15 12 1470 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 11C3.93573 11.3356 7.85984 11.6689 11.7725 12H1488.16C1492.1 11.6689 1496.04 11.3356 1500 11V12H1488.16C913.668 60.3476 586.282 60.6117 11.7725 12H0V11Z"
                    fill="currentColor"></path>
            </svg>
        </div>
        <!--end::Curve bottom-->
    </div>
    <!--end::Statistics Section-->

    <!--begin::Footer Section-->
    <div class="mb-0" id="Contact">
        <!--begin::Wrapper-->
        <div class="pt-20">
            <!--begin::Container-->
            <div class="container">
                <!--begin::Row-->
                <div class="row py-10 py-lg-20">
                    <!--begin::Col-->
                    <div class="col-lg-6 pe-lg-16 mb-10 mb-lg-0">
                        <!--begin::Block-->
                        <div class="rounded p-9 mb-10">
                            <!--begin::Title-->
                            <h2>Contact</h2>
                            <h2>Pusat Database</h2>
                            <!--end::Title-->
                            <!--begin::Text-->
                            <h2><b>Kantor Pusat Badan Meteorologi, Klimatologi, dan Geofisika (BMKG)</b></h2>
                            <span class="fw-normal fs-4">
                                Jl. Angkasa I, No.2 Kemayoran, Jakarta Pusat 10610 Call Center : (021) 196 Fax. : (021)
                                4246703 PO Box 3540 Jkt.
                            </span>
                            <!--end::Text-->
                        </div>
                        <!--end::Block-->
                        <!--begin::Block-->
                        <div class="rounded p-9">
                            <!--begin::Form group-->
                            <h2 style="background-color: #d9d9d9; text-align: center">Kritik dan Saran</h2>
                            <div>
                                <label class="form-label fw-bolder text-dark fs-6">Name</label>
                                <input
                                    class="form-control form-control-lg form-control-solid"
                                    type="text"
                                    placeholder="Name"
                                    name="name"
                                    formControlName="name"
                                    autocomplete="off" />
                            </div>
                            &nbsp;
                            <div>
                                <label class="form-label fw-bolder text-dark fs-6">Email</label>
                                <input
                                    class="form-control form-control-lg form-control-solid"
                                    type="email"
                                    placeholder="E-mail"
                                    name="email"
                                    formControlName="email"
                                    autocomplete="off" />
                            </div>
                            &nbsp;
                            <div>
                                <label class="form-label fw-bolder text-dark fs-6">Subject</label>
                                <input
                                    class="form-control form-control-lg form-control-solid"
                                    type="text"
                                    placeholder="Subject"
                                    name="subject"
                                    formControlName="subject"
                                    autocomplete="off" />
                            </div>
                            &nbsp;
                            <div>
                                <label class="form-label fw-bolder text-dark fs-6">Message</label>
                                <textarea
                                    class="form-control form-control-lg form-control-solid"
                                    placeholder="Message"
                                    name="message"
                                    formControlName="message"
                                    autocomplete="off">
                                </textarea>
                            </div>
                            &nbsp;
                            <!--begin::Form group-->
                            <div class="text-center">
                                <button type="submit" class="btn btn-lg btn-primary w-100 mb-5">Kirim Pesan</button>
                            </div>
                            <!--end::Form group-->
                        </div>
                        <!--end::Block-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-lg-6 ps-lg-16">
                        <!--begin::Navs-->
                        <div class="d-flex justify-content-center">
                            <!--begin::Links-->
                            <div class="d-flex fw-semibold flex-column me-20">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.8187649829742!2d106.83982491534525!3d-6.155022395543696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f5eac092e3eb%3A0xbaab03d1e07d43be!2sBadan%20Meteorologi%20Klimatologi%20dan%20Geofisika%20Indonesia!5e0!3m2!1sen!2sid!4v1660062436169!5m2!1sen!2sid"
                                    width="600"
                                    height="600"
                                    style="border: 0"
                                    allowfullscreen=""
                                    loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <!--end::Links-->
                        </div>
                        <!--end::Navs-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Container-->

            <!--begin::Links-->
            <div class="fw-semibold text-center">
                <!--begin::Subtitle-->
                <h4 class="fw-bold text-gray-400 mb-6">Stay Connected</h4>
                <!--end::Subtitle-->
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <!--begin::Link-->
                        <a href="https://www.facebook.com/InfoBMKG">
                            <img src="assets/media/svg/brand-logos/facebook-4.svg" class="h-20px" alt="" />
                            <!-- <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Facebook</span> -->
                        </a>
                        <!--end::Link-->
                    </div>
                    <div class="col-md-auto">
                        <!--begin::Link-->
                        <a href="https://www.instagram.com/infobmkg">
                            <img src="assets/media/svg/brand-logos/instagram-2-1.svg" class="h-20px" alt="" />
                            <!-- <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Instagram</span> -->
                        </a>
                        <!--end::Link-->
                    </div>
                    <div class="col-md-auto">
                        <!--begin::Link-->
                        <a href="https://play.google.com/store/apps/details?id=com.Info_BMKG&hl=en&gl=US">
                            <img src="assets/media/svg/brand-logos/google-icon.svg" class="h-20px" alt="" />
                            <!-- <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Instagram</span> -->
                        </a>
                        <!--end::Link-->
                    </div>
                    <div class="col-md-auto">
                        <!--begin::Link-->
                        <a href="https://www.youtube.com/user/infoBMKG">
                            <img src="assets/media/svg/brand-logos/youtube-play.svg" class="h-20px me-2" alt="" />
                            <!-- <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Twitter</span> -->
                        </a>
                        <!--end::Link-->
                    </div>
                    <div class="col-md-auto">
                        <!--begin::Link-->
                        <a href="https://twitter.com/infoBMKG">
                            <img src="assets/media/svg/brand-logos/twitter.svg" class="h-20px" alt="" />
                            <!-- <span class="text-white opacity-50 text-hover-primary fs-5 mb-6">Instagram</span> -->
                        </a>
                        <!--end::Link-->
                    </div>
                </div>
                <br />
                <br />
            </div>
            <!--end::Links-->
        </div>
    </div>
</div>
